body {
    background-color: var(--body-bg-color);
    color: var(--body-color);
    text-align: var(--body-text-align);
}

hr {
    background-color: var(--color-blue);
    height:5px;
    border: 0px;
    width: var(--hr-width);
}

