:root {
    /* light mode */
    --body-bg-color: var(--color-blue-1);
    --body-color: white;
    --t1-color: white;
    --t2-color: var(--color-grey-7);
    --t3-color: var(--color-grey-8);
    --t4-color: var(--color-grey-7);
    --t5-color: var(--color-grey-8);
}