
:root {
    /* palette */
      --color-blue-1:#155592;

      --color-blue: rgb(25, 175, 255);
      --color-green:rgb(61, 221, 109);
      --color-orange:rgb(255, 154, 60);
      --color-pink:rgb(255, 61, 245);
      
      --color-grey-1:rgb(30, 30, 30);
      --color-grey-2:rgb(54, 54, 54);
      --color-grey-3:rgb(80,80,80);

      --color-grey-4:rgb(114, 114, 114);

      --color-grey-5:rgb(144,144,144);
      --color-grey-6:rgb(185,190,200);
      --color-grey-7:rgb(232, 236, 240);
}    